@using FarmersMarketApp.ViewModels.OrderViewModels
@using System.Globalization
@using FarmersMarketApp.Common.Enums
@model ManageUserOrdersViewModel

<div class="@Model.Classes" id="@Model.TableId">
	<h5 class="text-start fw-bold">@Model.TableName</h5>
	<table class="table table-hover table-striped align-middle text-center">
		<thead>
			<tr>
				<th>Order number</th>
				<th>Order placed</th>
				<th>Total items</th>
				<th>Total discount</th>
				<th>Total price</th>
				<th>Status</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		@if (Model.Orders.Any())
		{
			<tbody>
				@foreach (var order in Model.Orders)
				{
					<tr class="table-light" scope="row">
						<td>@order.Id</td>
						<td>@order.CreateDate</td>
						<td>@order.TotalUnitItems</td>
						<td>@order.TotalDiscount.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</td>
						<td>@order.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</td>
						<td>@(order.Status == Status.InProgress ? "In progress" : order.Status)</td>
						<td colspan="2" class="">
							<button class="btn btn-sm btn-info me-2 orderBtn" data-order-id="@order.Id">Details</button>
						</td>
					</tr>
				}

			</tbody>
		}
		else
		{
			<tbody>
				<tr class="table-light" scope="row">
					<td colspan="7" class="pt-4 pb-4">
						@Model.DefaultText
					</td>
				</tr>
			</tbody>
		}
	</table>
</div>