@using FarmersMarketApp.Web.ViewModels.OrderViewModels
@using FarmersMarketApp.Common.Enums
@using System.Globalization
@model IEnumerable<OrderProductsViewModel>

@{
	var openOrder = Model.FirstOrDefault(o => o.OrderStatus == OrderStatus.Open);
	var completedOrders = Model.OrderByDescending(o => o.CreateDate).Where(o => o.OrderStatus == OrderStatus.Completed);
	var cancelledOrders = Model.OrderByDescending(o => o.CreateDate).Where(o => o.OrderStatus == OrderStatus.Cancelled);
}

<div class="btn-group mb-3" role="group" aria-label="Button group with nested dropdown">
	<button type="button" class="btn btn-info" id="ordersBtn">Current order</button>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop" style="">
			<a class="dropdown-item text-light" href="#" id="allOrdersBtn">All orders</a>
			<a class="dropdown-item text-info" href="#" id="openOrdersBtn">Open orders</a>
			<a class="dropdown-item text-success" href="#" id="completedOrderBtn">Completed orders</a>
			<a class="dropdown-item text-danger" href="#" id="cancelledOrdersBtn">Cancelled orders</a>
		</div>
	</div>
</div>

<table class="table table-hover table-striped align-middle text-center" id="openOrdersTable">
	<thead>

		<tr>
			<th colspan="2" class="text-center">Product</th>
			<th colspan="1">Product price per unit</th>
			<th colspan="1">Total amount of units</th>
			<th colspan="1">Total price of units</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		@if (openOrder != null && openOrder.Products.Any())
		{
			@foreach (var product in openOrder.Products)
			{
				<tr class="table-light" scope="row">
					<td class="text-center">
						<a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="text-decoration-none text-primary">
							<img src="@product.ImageUrl" class="fluid-img" style="max-height: 50px;" />
						</a>
					</td>
					<th scope="row" class="text-start">
						<a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="text-decoration-none text-primary">@product.Name</a>
					</th>
					<td>@product.PriceAtPurchase.ToString("f2")</td>
					<td>@product.Amount</td>
					<td>@(product.PriceAtPurchase * product.Amount)</td>
					<td colspan="2" class="">
						<a asp-controller="Order" asp-action="RemoveFromCart" asp-route-orderId="@openOrder.Id" asp-route-productId="@product.Id" class="btn btn-sm btn-danger me-2">Remove</a>
					</td>
				</tr>
			}

			<tr class="table-secondary">
				<td colspan="3"></td>
				<td class="">Total products: @openOrder.TotalUnitItems</td>
				<td class="">Total discount: @openOrder.TotalDiscount.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</td>
				<td colspan="2">
					<a asp-controller="Order" asp-action="RemoveAllFromCart" asp-route-orderId="@openOrder.Id" class="btn btn-sm btn-danger me-2">Remove All</a>
				</td>
			</tr>
			<tr class="table-primary">
				<td colspan="5" class="text-end pe-5">Total price: @openOrder.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</td>
				<td colspan="2" class="text-center">
					<a asp-controller="Order" asp-action="Checkout" asp-route-orderId="@openOrder.Id" class="btn btn-success me-2">Checkout</a>
				</td>
			</tr>
		}
		else
		{
			<tr>
				<td colspan="7" class="table-light pt-4 pb-4">You have no open orders at this moment.</td>
			</tr>
		}
	</tbody>
</table>

@* COMPLETED ORDERS TABLE *@

<table class="table table-hover table-striped align-middle text-center visually-hidden" id="completedOrdersTable">
	<thead>

		<tr>
			<th>Order number</th>
			<th>Order placed</th>
			<th>Total items</th>
			<th>Total discount</th>
			<th>Total price</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	@if (completedOrders.Any())
	{
		<tbody>
			@foreach (var order in completedOrders)
			{
				<tr class="table-light" scope="row">
					<td>Order @order.Id</td>
					<td>@order.CreateDate</td>
					<td>@order.TotalUnitItems</td>
					<td>@order.TotalPrice</td>
					<td>@order.TotalDiscount</td>
					<td colspan="2" class="">
						<a asp-controller="Order" asp-action="Details" asp-route-orderId="@order.Id" class="btn btn-sm btn-info me-2">Details</a>
					</td>
				</tr>
			}

		</tbody>
	}
	else
	{
		<tbody>
			<tr class="table-light" scope="row">
				<td colspan="7" class="pt-4 pb-4">
					No previous completed orders available.
				</td>
			</tr>
		</tbody>
	}
</table>


@* CANCELLED ORDERS TABLE *@
<table class="table table-hover table-striped align-middle text-center visually-hidden" id="cancelledOrdersTable">
	<thead>

		<tr>
			<th>Order number</th>
			<th>Order placed</th>
			<th>Total items</th>
			<th>Total discount</th>
			<th>Total price</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	@if (cancelledOrders.Any())
	{
		<tbody>
			@foreach (var order in cancelledOrders)
			{
				<tr class="table-light" scope="row">
					<td>Order @order.Id</td>
					<td>@order.CreateDate</td>
					<td>@order.TotalUnitItems</td>
					<td>@order.TotalPrice</td>
					<td>@order.TotalDiscount</td>
					<td colspan="2" class="">
						<a asp-controller="Order" asp-action="Details" asp-route-orderId="@order.Id" class="btn btn-sm btn-info me-2">Details</a>
					</td>
				</tr>
			}

		</tbody>
	}
	else
	{
		<tbody>
			<tr class="table-light" scope="row">
				<td colspan="7" class="pt-4 pb-4">
					No previous cancelled orders available.
				</td>
			</tr>
		</tbody>
	}
</table>

<script src="/../js/ordersTableSwitcher.js" type="module"></script>