@using FarmersMarketApp.Web.ViewModels.OrderViewModels
@using System.Globalization
@model OrderCheckoutViewModel

@{
	int totalUnits = 0;
	decimal totalPrice = 0.0m;
	decimal totalDiscount = 0.0m;
	if (Model.Products.Any())
	{
		totalUnits = Model.Products.Sum(p => p.Amount);

	}
}

<div class="container">
	<div class="row">
		<div class="col">
			<ul class="list-group">
				<li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
					Products in order
					<span class="badge bg-light rounded-pill">@Model.Products.Count()</span>
				</li>
				@foreach (var product in Model.Products)
				{
					<li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
						<div>
							<img src="@product.ImageUrl" class="fluid-img me-2" style="max-width: 32px; object-fit: cover;" />
							@product.Name
						</div>
						<span class="badge bg-light rounded-pill">@product.Amount</span>
					</li>
				}
			</ul>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body px-4">
					<form asp-action="Checkout" asp-route-orderId="@Model.Id" method="post" enctype="multipart/form-data" class="text-center">
						<h4 class="card-title mb-4 text-light text-center">Delivery details:</h4>
						<div class="col d-flex mb-2">
							<label asp-for="@Model.DeliveryFirstName" class="form-label mt-2 me-4 w-25 text-end">First name</label>
							<input asp-for="@Model.DeliveryFirstName" class="form-control-sm w-100" aria-required="true" />
						</div>
						<p class="mb-1">
							<span asp-validation-for="@Model.DeliveryFirstName" class="text-danger"></span>
						</p>
						<div class="col d-flex mb-2">
							<label asp-for="@Model.DeliveryLastName" class="form-label mt-2 me-4 w-25  text-end">Last name</label>
							<input asp-for="@Model.DeliveryLastName" class="form-control-sm  w-100" aria-required="true" />
						</div>
						<p class="mb-1">
							<span asp-validation-for="@Model.DeliveryLastName" class="text-danger"></span>
						</p>
						<div class="col d-flex mb-2">
							<label asp-for="@Model.DeliveryAddress" class="form-label mt-2 me-4 w-25  text-end">Address</label>
							<input asp-for="@Model.DeliveryAddress" class="form-control-sm w-100" aria-required="true" />
						</div>
						<p class="mb-1">
							<span asp-validation-for="@Model.DeliveryAddress" class="text-danger"></span>
						</p>
						<div class="col d-flex mb-2">
							<label asp-for="@Model.DeliveryCity" class="form-label mt-2 me-4 w-25  text-end">City</label>
							<input asp-for="@Model.DeliveryCity" class="form-control-sm w-100" aria-required="true" />
						</div>
						<p class="mb-1">
							<span asp-validation-for="@Model.DeliveryCity" class="text-danger"></span>
						</p>
						<div class="col d-flex mb-2">
							<label asp-for="@Model.DeliveryPhoneNumber" class="form-label mt-2 me-4 w-25  text-end">Phone number</label>
							<input asp-for="@Model.DeliveryPhoneNumber" class="form-control-sm  w-100" aria-required="true" />
						</div>
						<p class="mb-1">
							<span asp-validation-for="@Model.DeliveryPhoneNumber" class="text-danger"></span>
						</p>

						<h4 class="card-title mb-3 mt-1 text-light text-center">Total price: @Model.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</h4>
						<h6 class="card-subtitle mb-2 text-muted text-center">Total discounts: @Model.TotalDiscount.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</h6>
						<h6 class="card-subtitle mb-2 text-muted text-center">Order from @Model.CreateDate</h6>
						<p class="card-text text-center">Your order will be placed to each farmer and will be handled accordingly.</p>
						<div class="text-center">
							<button type="submit" class="btn btn-success mb-3">Proceed to payment</button>
						</div>
						<div class="text-center">
							<a asp-controller="Order" asp-action="All" class="btn btn-secondary btn-sm">Back to my orders</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>





