@using FarmersMarketApp.ViewModels.FarmViewModels
@model AddFarmViewModel

@{
	ViewData["Title"] = "Edit my farm";
}

<div class="container text-center">
	<div class="row justify-content-center">
		<div class="col-6">
			<form asp-action="Edit" method="post" enctype="multipart/form-data">
				<div class="mb-2">
					<label asp-for="@Model.Name" class="form-label mt-2">Farm Name *</label>
					<input asp-for="@Model.Name" class="form-control" aria-required="true" type="text" placeholder="name of your farm" value="@Model.Name"/>
					<span asp-validation-for="@Model.Name" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="@Model.Address" class="form-label mt-2">Farm Address *</label>
					<input asp-for="@Model.Address" class="form-control" aria-required="true" placeholder="address for order pickups" value="@Model.Address"/>
					<span asp-validation-for="@Model.Address" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="@Model.City" class="form-label mt-2">City *</label>
					<input asp-for="@Model.City" class="form-control" aria-required="true" placeholder="closest city to farm" value="@Model.City"/>
					<span asp-validation-for="@Model.City" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="@Model.Email" class="form-label mt-2">Email</label>
					<input asp-for="@Model.Email" class="form-control" aria-required="true" placeholder="optional" value="@Model.Email"/>
					<span asp-validation-for="@Model.Email" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="@Model.PhoneNumber" class="form-label mt-2">Phone number</label>
					<input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" placeholder="optional" value="@Model.PhoneNumber"/>
				</div>
				<div class="mb-2">
					<label asp-for="@Model.ImageFile" class="form-label mt-2">Image (leave blank to remain unchanged)</label>
					<input asp-for="@Model.ImageFile" class="form-control" aria-required="true" placeholder="optional, leave blank to remain unchanged" type="File"/>
				</div>
				<div class="mb-2 w-100">
					<div class="mb-2">
						<label asp-for="@Model.OpenHours" class="form-label mt-2 ">Open hours</label>
						<input asp-for="@Model.OpenHours" class="form-control" aria-required="true" placeholder="format: HH:mm" value="@Model.OpenHours" />
						<span asp-validation-for="@Model.OpenHours" class="text-danger"></span>
					</div>
					<div class="mb-2">
						<label asp-for="@Model.CloseHours" class="form-label mt-2 ">Closed hours</label>
						<input asp-for="@Model.CloseHours" class="form-control" aria-required="true" placeholder="format: HH:mm" value="@Model.CloseHours" />
						<span asp-validation-for="@Model.CloseHours" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-2 mt-4">
					<input type="hidden" name="id" value="@Model.Id"/>
					<input asp-controller="Farm" asp-action="Edit" method="post" class="btn btn-warning btn-white-text w-100 py-2 fw-bold rounded" type="submit" value="Edit my farm" />
				</div>
			</form>
			<a class="btn btn-primary w-100" asp-controller="Farmer" asp-action="MyFarms">Back to my farms</a>
		</div>
	</div>
</div>
<partial name="_ValidationScriptsPartial" />