@using FarmersMarketApp.Web.ViewModels.FarmerViewModels
@model FarmerBecomeViewModel

@{
	ViewData["Title"] = "Become a farmer today!";
}

<div class="row">
	<div class="col">
		<form asp-action="Become" method="post" enctype="multipart/form-data">
			<div class="col-sm-6 mb-2">
				<label asp-for="@Model.CompanyName" class="form-label mt-2">Company Name</label>
				<input asp-for="@Model.CompanyName" class="form-control" aria-required="true" type="text"/>
				<span asp-validation-for="@Model.CompanyName" class="text-danger"></span>
			</div>
			<div class="col-sm-6 mb-2">
				<label asp-for="@Model.CompanyRegistrationNumber" class="form-label mt-2">Company Registration Number</label>
				<input asp-for="@Model.CompanyRegistrationNumber" class="form-control" aria-required="true" />
				<span asp-validation-for="@Model.CompanyRegistrationNumber" class="text-danger"></span>
			</div>
			<div class="col-sm-6 mb-2">
				<label asp-for="@Model.CompanyAddress" class="form-label mt-2">Company Address</label>
				<input asp-for="@Model.CompanyAddress" class="form-control" aria-required="true" />
				<span asp-validation-for="@Model.CompanyAddress" class="text-danger"></span>
			</div>
			
			
			<div class="btn-group mb-1 mt-4" role="group" aria-label="Basic radio toggle button group">
				<input asp-for="@Model.AcceptsDeliveries" type="radio" class="btn-check " id="btnradio1" autocomplete="off" value="true">
				<label asp-for="@Model.AcceptsDeliveries" class="btn btn-outline-primary " for="btnradio1">I am open for business.</label>
				<input asp-for="@Model.AcceptsDeliveries" type="radio" class="btn-check " id="btnradio2" autocomplete="off" value="false">
				<label asp-for="@Model.AcceptsDeliveries" class="btn btn-outline-primary " for="btnradio2">I will open for business later.</label>
			</div>
			<div class="text-danger mb-3 mt-2"><span asp-validation-for="@Model.AcceptsDeliveries"></span></div>

			@* 
				 TODO: Try to add farmer categories from registration
			<div class="col-sm-6 mb-2">
				<fieldset>
					<legend class="mt-1"> I have products from the following categories:</legend>
					<div class="form-check">
						<input asp-for="Categories" id="MeatCategory" class="form-check-input" type="checkbox" value="1"/>
						<label asp-for="Categories" class="form-check-label" for="MeatCategory">Meat</label>
					</div>
					<div class="form-check">
						<input asp-for="Categories" id="DairyCategory" class="form-check-input" type="checkbox" value="2" />
						<label asp-for="Categories" class="form-check-label" for="DairyCategory">Dairy</label>
					</div>
					<div class="form-check">
						<input asp-for="Categories" id="GrainCategory" class="form-check-input" type="checkbox" value="3" />
						<label asp-for="Categories" class="form-check-label" for="GrainCategory">Grain</label>
					</div>
					<div class="form-check">
						<input asp-for="Categories" id="FatsCategory" class="form-check-input" type="checkbox" value="4" />
						<label asp-for="Categories" class="form-check-label" for="FatsCategory">Fats</label>
					</div>						    
					<div class="form-check">	    
						<input asp-for="Categories" id="FruitsCategory" class="form-check-input" type="checkbox" value="5" />
						<label asp-for="Categories" class="form-check-label" for="FruitsCategory">Fruits</label>
					</div>						    
					<div class="form-check">	    
						<input asp-for="Categories" id="VegetablesCategory" class="form-check-input" type="checkbox" value="6" />
						<label asp-for="Categories" class="form-check-label" for="VegetablesCategory">Vegetables</label>
					</div>						    
					<div class="form-check">	    
						<input asp-for="Categories" id="SweetsCategory" class="form-check-input" type="checkbox" value="7" />
						<label asp-for="Categories" class="form-check-label" for="SweetsCategory">Sweets</label>
					</div>						    
					<div class="form-check">	    
						<input asp-for="Categories" id="FishCategory" class="form-check-input" type="checkbox" value="8" />
						<label asp-for="Categories" class="form-check-label" for="FishCategory">Fish</label>
					</div>						    
					<div class="form-check">	    
						<input asp-for="Categories" id="EggsCategory" class="form-check-input" type="checkbox" value="9" />
						<label asp-for="Categories" class="form-check-label" for="EggsCategory">Eggs</label>
					</div>
					<div class="form-check">
						<input asp-for="Categories" id="DrinksCategory" class="form-check-input" type="checkbox" value="10" />
						<label asp-for="Categories" class="form-check-label" for="DrinksCategory">Drinks</label>
					</div>
				</fieldset>
			</div> *@
			
			<div class="mb-2 col-md-6 mt-2">
				<input class="btn btn-success btn-white-text w-100 py-2 fw-bold rounded" type="submit" value="Become a farmer now!" />
			</div>
		</form>
	</div>
</div>

<partial name="_ValidationScriptsPartial" />